 .carousel {
  padding: 1em;
  margin: auto;
  gap: 50px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding-top: 150px;
  padding-left: 200px;
  padding-right: 150px;
  height: 10px;
 
}

.container {
  cursor: pointer;
  flex-basis: 1;
  transition: 0.5s;
  box-sizing: border-box;
  flex-direction: column;
  border-radius: 10px;
  display: flex;
  position: relative;
  width: 300px;
  height: 500px;
  background: none;
  object-fit: cover;

}

.img {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 10px; 
}

.overlay {
  transition: 0.5s;
  border-radius: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: left;
  padding: 1em;

}


.container:hover { 
  transform: scale(1.10);
  box-shadow: -20px 20px 50px 1px #b3e8ee;
}

.txt {
  color: rgb(241, 241, 241);
  font-family:Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 50px;
  padding-top: 200px;
  text-align: center;
  text-shadow: #111417;
  
}
.custom-marquee {
  margin-top: 20px; 
  font-size: 25px; 
  white-space: nowrap; 
  overflow: hidden;   
  font-style:italic;
  color: #ffff;
  background-image:linear-gradient(to right,#aabb11,#11bbb2,#aabb11) ;
 
}



